.fade {
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.fade-text {
  color: transparent;
  transition: all 500ms;

  &.active { color: inherit; }
}

.ng-fade {
  opacity: 1;
  transition: all 500ms;

  &.ng-enter-active, &.ng-leave { opacity: 1; }
  &.ng-enter, &.ng-leave-active { opacity: 0; }
}
