.hide { display: none !important; }
.pointer { cursor: pointer; }
.phrase { font-size: $title_size; }
.phrase-mid { font-size: $subtitle_size; }
.nopadding { padding: 0 !important; }
.nomargin { margin: 0 !important; }
.nooverflow { overflow: hidden !important; }

// Size
.full-h  { height: 100vh !important; }
.full-w { width: 100vw !important; }

// Position
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

.top { top: 0; }
.left { left: 0; }
.bottom { bottom: 0; }
.right { right: 0; }

.flex-centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Background
@each $key, $value in $colors {
	.bg-#{'' + $key} { background-color: #{$value}; }
}
.bg-transparent { background-color: transparent; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }

.bg-center {
	background-repeat: no-repeat;
	background-position: center;
}
.bg-right {
	background-repeat: no-repeat;
	background-position: right;
}
.bg-left {
	background-repeat: no-repeat;
	background-position: left;
}
.bg-top {
	background-repeat: no-repeat;
	background-position: top;
}
.bg-bottom {
	background-repeat: no-repeat;
	background-position: bottom;
}
.cover { background-size: cover; }
.contain { background-size: contain; }

// Text
@each $key, $value in $colors {
	.text-#{'' + $key} { color: #{$value}; }
}
.text-white { color: white; }
.text-black { color: $black; }

.font-100 { font-weight: 100; }
.font-300 { font-weight: 300; }
.font-500 { font-weight: 500; }
.font-700 { font-weight: 700; }

@for $i from 12 to 17 {
	.font-#{"" + $i} { font-size: #{$i}px; }
}
