
@mixin sm-and-down {
  @media (max-width: $mobile - 1) { @content; }
}

@mixin sm-and-up {
  @media (min-width: $mobile) { @content; }
}

@mixin md-and-down {
  @media (max-width: $tablet - 1) { @content; }
}

@mixin md-and-up {
  @media (min-width: $tablet) { @content; }
}

@mixin lg-and-down {
  @media (max-width: $desktop - 1) { @content; }
}

@mixin lg-and-up {
  @media (min-width: $desktop) { @content; }
}
