$red: #F44336;
$pink: #EC407A;
$purple: #9C27B0;
$indigo: #3949AB;
$blue: #2196F3;
$cyan: #00BCD4;
$green: #4CAF50;
$yellow: #FFEB3B;
$orange: #ff9800;
$brown: #795548;
$grey: #BDBDBD;
$blue_gray: #607D8B;


$colors: (
 'blue': $blue,
 'indigo': $indigo,
 'purple': $purple,
 'pink': $pink,
 'red': $red,
 'cyan': $cyan,
 'green': $green,
 'yellow': $yellow,
 'orange': $orange,
 'brown': $brown,
 'grey': $grey,
 'blue_gray': $blue_gray
);

$font_color: #333;

$icon_size: 28px;
$font_size: 14px;
$title_size: 22px;
$subtitle_size: 18px;

$default_opacity: 0.75;

$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
