@charset "UTF-8";

/************/

@import "./libs/bootstrap/scss/bootstrap.scss";

@import "./sass/variables.scss";
@import "./sass/animations.scss";
@import "./sass/mixins.scss";
@import "./sass/helpers.scss";

@import "./components/components.scss";
@import "./app/app.scss";

/************/

// Global Styles

*, html {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: $font_size;
	color: $font_color;
}

h1, h2, h3, h4, h5, h6, a, p { color: $font_color; }

a {
	@include transition(500ms);
	&:hover, &:active {
		color: $blue;
		text-decoration: none;
	}
}
