<div class="home full-w full-h flex-centered flex-column">
  <h3>{{'home.title' | translate}} <h1>sgzadrian</h1></h3>
  <a href="contact">Click me!</a>

  <div class="container mt-5">
    <palette></palette>
  </div>
</div>
