.slider {
  .background {
    background-color: #666;
    z-index: 0;
  }

  button {
    border: 0px;
    padding: 0;
    z-index: 2;

    &.right { right: 0; }
  }

  .bottom-controls {
    height: 18%;
    bottom: 0;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .dots {
      background-color: white;
      width: 6px;
      height: 6px;
      margin: 4px;
      border-radius: 100%;
      transition: all 400ms;

      &.active {
        width: 10px;
        height: 10px;
      }
    }
  }
}
