<div class="slider w-100 h-100 relative" ng-swipe-left="slider.next()" ng-swipe-right="slider.prev()">

  <div class="background w-100 h-100 cover bg-center absolute top left fade" ng-repeat="back in slider.images"
  ng-style="{ 'background-image': 'url('+ back +')' }" ng-class="{ 'active': $index == slider.position }"></div>

  <div class="background w-100 h-100 absolute top left" ng-if="!slider.images.length">
    <div class="image-footer">Slider</div>
  </div>

  <button class="w-50 h-100 absolute left bg-transparent" ng-click="slider.prev()"></button>
  <button class="w-50 h-100 absolute right bg-transparent" ng-click="slider.next()"></button>

  <div class="bottom-controls absolute w-50 d-flex flex-row">
    <div class="dots shadow" ng-repeat="back in slider.images" ng-class="{ 'active': $index == slider.position }"></div>
  </div>
</div>
